@import "tailwindcss";

@plugin 'tailwind-scrollbar';

@layer base {
  body {
    @apply relative -z-50 bg-[#141414] text-white;
  }

  header {
    @apply fixed top-0 z-50 flex w-full items-center justify-between px-4 py-4 transition-all lg:px-10 lg:py-10;
  }
}

@layer component {
  .header__link {
    @apply cursor-pointer md:text-xl lg:text-2xl font-light text-[#e5e5e5] transition duration-[.4s] hover:text-[#b3b3b3];
  }

  .banner__btn {
    @apply flex items-center gap-x-2 rounded px-5 py-1.5 text-sm font-semibold transition hover:opacity-75 md:py-2.5 md:px-8 md:text-xl;
  }

  .scrollbar--remove::-webkit-scrollbar {
    display: none; /* Chrome, Safari, Edge */
  }

  .scrollbar--remove {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }

  .input {
    @apply w-full rounded bg-[#333] px-5 py-3.5 placeholder-[gray] outline-none focus:bg-[#454545];
  }
}

/* Target the whole scrollbar */
body::-webkit-scrollbar {
  width: 12px; /* Width of the vertical scrollbar */
}

/* Target the track (the background area) */
body::-webkit-scrollbar-track {
  background: transparent !important;
}

/* Target the thumb (the draggable handle) */
body::-webkit-scrollbar-thumb {
  background: red;
}

/* Change the thumb color on hover */
.body::-webkit-scrollbar-thumb:hover {
  background: #252525;
}