@import "tailwindcss";

@plugin 'tailwind-scrollbar';

/* ::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #e53e3e;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
} */

@layer base {
  body {
   @apply bg-[#141414] text-white scrollbar! scrollbar-track-transparent! scrollbar-thumb-red-600!;
  }

  header {
    @apply fixed top-0 z-50 flex w-full items-center justify-between px-4 py-4 transition-all lg:px-10 lg:py-10;
  }
}

@layer component {
  .header__link {
    @apply cursor-pointer md:text-xl lg:text-2xl font-light text-[#e5e5e5] transition duration-[.4s] hover:text-[#b3b3b3];
  }

  .banner__btn {
    @apply flex items-center gap-x-2 rounded px-5 py-1.5 text-sm font-semibold transition hover:opacity-75 md:py-2.5 md:px-8 md:text-xl;
  }

  .scrollbar--remove::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Edge */
  }

  .scrollbar--remove {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;     /* Firefox */
}
}
